$red: #CD5360;
$black: #000000;

$font_color_fg: black;
$font_color_bg: white;

// Post list colors
$post_list_link: $black;
$post_list_link_hover: $red;

// Syntax highlighting colors
$code_keyword: #AC4142;
