
body {
    display: grid;
    // 100px header and footer
    grid-template-rows: 80px auto 100px;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";

    > main {
        grid-area: main;
        min-height: 700px;
        padding-top: 30px;
    }

    > footer {
        grid-area: footer;
    }

    > header {
        grid-area: header;
}
}
