a.sourceLine { 
    display: inline-block;
    line-height: 1.25;
    pointer-events: none;
    color: inherit;
    text-decoration: inherit;

    :empty {
        height: 1.2em;
        position: absolute;
    }
}
.sourceCode {
    overflow: visible;
}

code.sourceCode {
    white-space: pre;
    position: relative;
}

div.sourceCode { 
    margin: 1em 0; 
    padding: 5px 0px;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
    background: #f5f5f0;
}

pre.sourceCode {
    margin: 0;
}
pre.numberSource {
    margin-left: 3em;
    padding-left: 4px;

    a.sourceLine { 
        position: relative;

        &:empty {
            position: absolute;
        }
        
        &:before { 
            content: attr(data-line-number);
            position: absolute; left: -5em; text-align: right; vertical-align: baseline;
            border: none; pointer-events: all;
            -webkit-touch-callout: none; -webkit-user-select: none;
            -khtml-user-select: none; -moz-user-select: none;
            -ms-user-select: none; user-select: none;
            padding: 0 4px; width: 4em;
            color: #aaaaaa;
        }
    }
}
code span {
    &.al { /* Alert */
        color: #ef2929; 
    }
    &.an { /* Annotation */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
    &.at { /* Attribute */
        color: #c4a000;
    }
    &.bn { /* BaseN */
        color: #0000cf;
    }
    &.ch { /* Char */
        color: #96c0d8;
    }
    &.cf { /* ControlFlow */
        color: #ac4142;
        font-weight: bold;
    }
    &.cn { /* Constant */
        color: #000000;
    } 
    &.co { /* Comment */
        color: #8f5902;
        font-style: italic;
    }
    &.cv { /* CommentVar */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
    &.do { /* Documentation */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    } 
    &.dt { /* DataType */
        font-weight: bold;
        color: #ac4142;
    }
    &.dv { /* DecVal */
        color: #ce5c00;
    }
    &.er { /* Error */
        color: #a40000;
        font-weight: bold;
    }
    &.ex { /* Extension */
    } 
    &.fl { /* Float */
        color: #0000cf;
    }
    &.fu { /* Function */
        color: #000000;
    } 
    &.im { /* Import */
        color: #ac4142;
    }
    &.in { /* Information */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    } 
    &.kw { /* Keyword */
        color: #ac4142;
        font-weight: bold;
    }
    &.op { /* Operator */
        color: #ce5c00;
        font-weight: bold;
    } 
    &.ot { /* Other */
        color: #8f5902;
    }
    &.pp { /* Preprocessor */
        color: #8f5902;
        font-style: italic;
    }
    &.sc { /* SpecialChar */
        color: #000000;
    }
    &.ss { /* SpecialString */
        color: #96c0d8; 
    }
    &.st { /* String */
        color: #a366ff;
    }
    &.va { /* Variable */
        color: #000000;
    }
    &.vs { /* VerbatimString */
        color: #a366ff;
    }
    &.wa { /* Warning */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
}
