pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { 
  margin: 1em 0; 
  padding: 10px; 
  border-radius: 5px;
  border: 1px solid #aaa;
}
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 0 solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {   }

code span {
    &.al { /* Alert */
        color: #ef2929; 
    }
    &.an { /* Annotation */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
    &.at { /* Attribute */
        color: #c4a000;
    }
    &.bn { /* BaseN */
        color: #0000cf;
    }
    &.ch { /* Char */
        color: #96c0d8;
    }
    &.cf { /* ControlFlow */
        color: #ac4142;
        font-weight: bold;
    }
    &.cn { /* Constant */
        color: #000000;
    } 
    &.co { /* Comment */
        color: #8f5902;
        font-style: italic;
    }
    &.cv { /* CommentVar */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
    &.do { /* Documentation */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    } 
    &.dt { /* DataType */
        font-weight: bold;
        color: #ac4142;
    }
    &.dv { /* DecVal */
        color: #ce5c00;
    }
    &.er { /* Error */
        color: #a40000;
        font-weight: bold;
    }
    &.ex { /* Extension */
    } 
    &.fl { /* Float */
        color: #0000cf;
    }
    &.fu { /* Function */
        color: #000000;
    } 
    &.im { /* Import */
        color: #ac4142;
    }
    &.in { /* Information */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    } 
    &.kw { /* Keyword */
        color: $code_keyword; 
        font-weight: bold;
    }
    &.op { /* Operator */
        color: #ce5c00;
        font-weight: bold;
    } 
    &.ot { /* Other */
        color: #8f5902;
    }
    &.pp { /* Preprocessor */
        color: #8f5902;
        font-style: italic;
    }
    &.sc { /* SpecialChar */
        color: #000000;
    }
    &.ss { /* SpecialString */
        color: #96c0d8; 
    }
    &.st { /* String */
        color: #a366ff;
    }
    &.va { /* Variable */
        color: #000000;
    }
    &.vs { /* VerbatimString */
        color: #a366ff;
    }
    &.wa { /* Warning */
        color: #8f5902;
        font-weight: bold;
        font-style: italic;
    }
}
