@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto:300,400|Roboto+Condensed:300');

body {
    font-family: 'Roboto Condensed', sans-serif;

    header {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
    }

    div.sourceCode {
        font-family: 'Source Code Pro', sans-serif;
        font-size: 15px;
    }
}
