<div style="display: flex;">
    <!-- Sidebar -->
    <aside style="
        width: 20%;
        text-align: right;
        ">
            <span class="tags">
                $if(tags)$
                $tags$ 
                : Tags 
                $endif$
            </span>
    </aside>
    <article style="
        width: 60%;
    ">
        <header>
            <title>$title$</title>
            <span class="description">
                by <span class="author">$author$</span> on <span class="date">$date$</span>
            </span>
        </header>
        <main>
            $body$
        </main>
        <footer>
            This article last edited on the $lastmod$. Last revision: <a href="https://github.com/peri4n/my-site/commit/$revision$">$revision$</a>
        </footer>
    </article>
</div>
