body > header {
    border-bottom: 2px solid #eee;
    padding-top: 20px;

    // make the header sticky
    position: sticky;
    top: 0;
    background-color: #fdfdfd;
    z-index: 1;

    nav {
        ul {
            list-style-type: none;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                list-style: none;

                a {
                    padding: 8px;
                    font-size: 30px;

                    &:hover {
                        color: #666;
                    }
                }
            }
            li:first-child {
                flex-grow: 1;
            }
        }
    }
}
