body > main > section.postlist {
    ul {
        margin-left: 50px;
        li {
            color: red;
            display: flex;
            list-style: none;
            line-height: 1.5em;
            font-size: 14px;
        }
    }
}
