body > main > section.postlist {
    padding-top: 40px;
    ul {
        margin-left: 50px;
        li {
            padding-bottom: 10px;
            display: flex;
            list-style: none;
            line-height: 1.5em;
            font-size: 18px;
        }
    }
}
