body > main > section.post-list {
    ul {
        margin-left: 30px;
        li {
            .post-title {
                padding-bottom: 10px;
                display: inline-block;
                list-style: none;
                line-height: 1.5em;
                font-size: 18px;
            }

            .post-date {
                font-style: italic;
                float:right
            }

            &:before {
                width: 15px;
                @extend .fas;
                @extend .fa-angle-right;

            }

            &:hover {
                color: #555;
                &:before {
                    @extend .fas;
                    @extend .fa-angle-double-right;
                }
            }
        }
    }
}
